body {
    
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /*Change Overall Font*/
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
    background-color: #e0e0e0;
    color: #000;
}

audio:focus {
    outline: none;
}


/*Bootstrap Class CHanges*/
.col-4 {
    padding: 0;
}

.card {
    border: none;
}

.card-body {
    background-color: #e0e0e0;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}